%html
  %head
    %title Dj. Right
    %link{:type => "text/css", :rel => "stylesheet", :href => "/bootstrap/css/bootstrap.min.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "/css/index.css"}
  %body
    .main{:style => "padding: 20px"}
      %h1 Dj. Right
      %br
      %img{:src => "/image/icon.jpg", :width => "100px"}
      %a{:href => "/app-release.apk"} 下載apk檔
      .intro
        這裡是DJ. Right和他的快樂夥伴的家，準備好成為我們的小白鼠了嗎?
        %br
        你可以下載我們的apk檔，立刻安裝最炫砲的小白鼠專用app
        %br
        此
        %span{:style => "text-decoration: line-through"} 流氓
        超好用app，可以管理你的心情錄音，並自動上傳
        %br
        假如真的不知道要跟我說什麼，本DJ也可以勉為其難幫你想想看（句子有限要搶要快）
        %br
        如果小白鼠偷懶不錄音，本DJ也會在每天午夜十二點溫馨提示
        %br
        %em{:style => "font-weight: bold"} 「快點生氣一下啦，其他小白鼠都錄這麼多了，加油好嗎?」
        %br
        本DJ也會透過內建的聊天功能和大家談談心，慰勞大家的辛勞
        %br
        %em{:style => "font-weight: bold"} 「什麼這個app竟然有聊天功能?」
        %br
        請不要興奮過頭了，因為只有本DJ能發送訊息，小白鼠就乖乖接收聖旨ber
        %br
        使用apple的人，也不要太難過，趕快找個有android手機的人並逼他安裝本app
        %br
        我們的多重使用者系統，讓你不用買新手機，就能實現成為小白鼠的夢想
        %br
        你也可以到
        %a{:href => "/sentences/happy"} 這裡
        提供我們一些靈感
        %br
        %a{:href => "/readme"} 了解更多
        %br
        %br
      快樂夥伴： 陳伯炫 游子賢 謝駿熒 
      %em{:style => "font-weight: bold"} AND YOU
