%html
  %head
    %title Dj. Right
    %link{:type => "text/css", :rel => "stylesheet", :href => "/bootstrap/css/bootstrap.min.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "/css/readme.css"}
  %body
    %h2 主要功能
    %img{:src => "image/login.jpg", :width => "200px"}
    %div 第一次打開app，請先設定一個專屬的id
    %img{:src => "image/emo.jpg", :width => "200px"}
    .red
      選擇一個對應你現在情緒的圖案。
    %img{:src => "image/ready.jpg", :width => "200px"}
    %img{:src => "image/recording.jpg", :width => "200px"}
    .blue
      如果一時詞窮，可以叫小DJ「幫我想一句」
    .red
      按下紅色麥克風開始錄音
    %div 再按一次灰色麥克風結束錄音
    %h2 訊息系統
    %div 還記得說好的訊息系統嗎？每天午夜的溫馨提示也會透過這個系統傳遞喔
    %img{:src => "image/msg1.jpg", :width => "200px"}
    %img{:src => "image/msg2.jpg", :width => "200px"}
    %div 按下右上方訊息符號可進入訊息視窗
    %h2 多重使用者
    %div 獨樂樂不如眾樂樂，要如何跟父母家人朋友分享成為小白鼠的喜悅呢？
    %img{:src => "image/multi_user.jpg", :width => "200px"}
    .blue
      右上方列出這台裝置上所有使用者，選擇任一個登入吧～
    .red
      如果想要新增使用者，請選擇add Users

